/* body {
  margin: 0;
  padding: 0;
} */

/* #game-container {
  display: flex;
  flex-direction: row;
}

.game-card {
  display: flex;
  height: 10rem;
  width: 10rem;
}

.image {
  width: 80vw;
  height: 80vh;
  display: flex;
  margin: auto;
} */